In [1]:
import pandas as pd

In [2]:
na_vals = ['NA', 'Missing']

In [3]:
df = pd.read_csv('survey_results_public.csv', na_values=na_vals)

In [4]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [5]:
df['YearsCode'].head(10)

0    NaN
1      7
2    NaN
3    NaN
4     17
5    NaN
6      3
7      4
8      6
9      7
Name: YearsCode, dtype: object

In [15]:
#df['YearsCode'] = df['YearsCode'].astype(float) 
# raises an error because in the survey, there's an option 'Less than 1 year'

In [11]:
df['YearsCode'].unique() 
# returns unique values based on a hash table

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22',
       '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38',
       'More than 50 years', '27', '41', '42', '35', '23', '28', '11',
       '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47',
       '49', '48'], dtype=object)

In [12]:
# replacing the strings to nums
df['YearsCode'].replace('Less than 1 year'), 0
# inplace=True

(0        NaN
 1          7
 2        NaN
 3        NaN
 4         17
         ...
 83434      6
 83435      4
 83436     10
 83437      5
 83438     14
 Name: YearsCode, Length: 83439, dtype: object,
 0)

In [13]:
df['YearsCode'].replace('More than 50 years'), 51 
# inplace=True

(0        NaN
 1          7
 2        NaN
 3        NaN
 4         17
         ...
 83434      6
 83435      4
 83436     10
 83437      5
 83438     14
 Name: YearsCode, Length: 83439, dtype: object,
 51)

In [18]:
#df['YearsCode'].mean()

In [21]:
#df['YearsCode'].median()